<% include partials/header.ejs %>

<div class="container">
    <% include partials/navbar %>
    <section>
        <div>
            <div>Update this moment in your story</div>
            <form action="/usergallery/<%= piq._id %>?_method=PUT" method="POST">
                <div>
                    <label>Creator</label>
                    <input type="text" name="piq[creator]" value="<%=piq.creator%>">
                </div>
                <div>
                    <label>PiQ'd on</label>
                    <input type="text" name="piq[date]" value="<%=piq.date%>">
                </div>
                <div>
                    <label>PiQ URL</label>
                    <input type="text" name="piq[location]" value="<%=piq.location%>">
                </div>
                <div>
                    <label>What's the Inspiration?</label>
                    <textarea name="piq[story]"> <%=piq.story%> </textarea>
                </div>
                <div>
                    <button>Update the PiQ!</button>
                </div>

            </form>

        </div>
    </section>

    <section>
        <a href="/usergallery">Back to Gallery</>
    </section>

    <footer>

    </footer>
</div>


<% include partials/footer.ejs %>